

body{
    font-weight: bold;
    color: black;
    font-size: 32px; 
}


div {
    font-weight: bold;
    margin-bottom: 1rem; 
    letter-spacing: .01em;
    font-family: WF Visual Sans, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.04;
    color: black;
    text-align: center;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

  }


footer{
    position: fixed;
    bottom: 0;
    width: 20%;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  font-family: WF Visual Sans, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: WF Visual Sans, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover::after {
  content: url('C:\Users\Brandon\Downloads\a.png');
  padding:2px 5px 10px;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px  solid black;
}


/* Add a color to the active/current link */
.topnav a.active {
  color: rgb(0, 0, 0);
  font-family: WF Visual Sans, sans-serif;
}





  h1 {

    font-weight: bold;
    margin-bottom: 1rem; 
    letter-spacing: .01em;
    font-family: WF Visual Sans, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.04;
    color: black;
    text-align: left;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

  }

  img {

    display: block; 
    margin-left: auto;



  }